.mainBody {
    margin: auto;
    width: 980px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.fullBody{
    background-color: #E9EBEE;
    height: 100%;
}

.footerLogin{
    background: #fff;
}
