.CenterBody{
    width: 500px;
    height: 100%;
    margin: 12px 10px 
}

.postBox{
    width: 100%;
    border : 1px solid #dddfe2;
    border-radius: 2px;
   background-color: #f5f6f7;
   margin-bottom: 12px;
}
.postBox .item:nth-child(1){
    background-color: #e9ebee;
    color: #4b4f56;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 0;
    padding-right: 24px;
    padding-left: 8px;
}
.postBox .item:nth-child(2){
    display: flex;
    flex-wrap: nowrap;
    height: 71px;
    background-color: #FFFFFF;
}

.postBox .item:nth-child(2) img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin-left: 12px;
}
.postBox .item:nth-child(2) .inputPostBox{
    height: 71px;
    display: flex;
    align-items: center;
    cursor: text;
    padding-left: 12px;
}

.postBox .item:nth-child(2) .inputPostBox div{
    color: #91959d;
    display: inline-block;
}

.postBox .item:nth-child(2) .inputPostBox input{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    border: 0px;
    background-color: transparent;
    /* display: inline-block; */
    display: none;
}

.postBox .item:nth-child(2) .inputPostBox input::placeholder{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    color: #91959d;
}

.postBox .item:nth-child(2) .inputPostBox input:focus{
    outline: none;
   
}
.postBox .item:nth-child(3){
    background-color: #ffffff;
}

.postBox .item:nth-child(3) ul{
    border-top : 1px solid #dddfe2;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 476px;
    max-width: 476px;
    padding: 8px 0px;
    margin: 0px 12px;
}

.postBox .item:nth-child(3) ul .img{
    margin: 0px 5px 0px 7px;
    display: inline-block;
}
.postBox .item:nth-child(3) ul li:nth-child(4) {
    width: 44px;
    padding: 0px 5px 0px 5px;
}
.postBox .item:nth-child(3) li:nth-child(4) .img{
position: relative;
left: 5px;
}

.postBox .item:nth-child(3) ul li{
    background-color: #f5f6f7;
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 32px;

}

.postBox .item:nth-child(3) ul span{
    margin-right: 7px;
    color: #1D2129;
    font-weight: 600;
}
.postBox .item:nth-child(4), .postBox .item:nth-child(5) {
    background-color: #f5f6f7;
}

.postBox .item:nth-child(4) ol{
    padding: 5px 3px 5px 5px;
    border-top: 1px solid #dddfe2;
}

.postBox .item:nth-child(4) > ol li {
    padding: 4px 0px;
    height: 44px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.postBox .item:nth-child(4) ._1se_{
    background-color: #ffffff;
    border-radius: 50%;
}

.postBox .item:nth-child(4) > ol li .listIcon{
    display: flex;
    align-items: center;
}
.postBox .item:nth-child(4) li > span{
    border: 1px solid #dddfe2;
    padding: 0px 8px;
    margin-right: 20px;
    background-color: #ffffff;
}

.postBox .item:nth-child(4) > ol .listIcon span{
    color: #1D2129;
    font-weight: 600;
    display: inline-block;
}

.postBox .item:nth-child(5) {
    padding: 0px 12px 10px;
}
.postBox .item:nth-child(5) button{
    width: 100%;
    text-align: center;
    background-color: #9CB4D8;
    border: 0px;
    color: #ffffff;
    font-weight: bold;
    height: 28px;
    font-size: 14px;
}

.postBox .item:nth-child(4), .postBox .item:nth-child(5){
    display:none;
}

.CenterBody .postShow{
    margin-bottom: 12px;
}
.postShow .post{
    border : 1px solid #dddfe2;
    border-radius: 2px;
    background-color: #ffffff;
    height: 100%;
    padding: 12px 12px 0px;
}

.postShow .post .headPost{
    display: flex;

}

.post .headPost .box img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddfe2;
    margin-right: 8px;
}



.post .headPost .box:nth-child(2) a{
    color: #385898;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: inline-box;
}

.post .headPost .box .headline{
    display : flex;
    justify-content: space-between;
    width: 420px;
}

.post .headPost .time{
    color: #616770;
    font-size: 14px;
    margin-right: 10px;
    vertical-align: top;
}

.postShow .post .comment{
    margin-top: 6px;
    width: 100%;
    margin-bottom: 12px;
}

.postShow .post .IconPackage{
    margin: 0px 12px;
    border-top: 1px solid #dddfe2;
}

.postShow .post .IconPackage ul{
    list-style: none;
    display:  flex;
    justify-content: space-evenly;
    margin: 5px 0px;
}
